<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styledrag.css') }}">
</head>
<body>
<div class="container">
    <h4>Télécharger l'offre au format PDF</h4>
    <div class="row">
        <div id="uploads"></div>
        <div class="dropzone" id="dropzone">
            Drop files here to upload

        </div>
    </div>
</div>
<script>
    var fileobj;
    function upload_file(e) {
        e.preventDefault();
        fileobj = e.dataTransfer.files[0];
        ajax_file_upload(fileobj);
    }

    function file_explorer() {
        document.getElementById('dropzone').click();
        document.getElementById('dropzone').onchange = function() {
            fileobj = document.getElementById('dropzone').files[0];
            ajax_file_upload(fileobj);
        };
    }

    function ajax_file_upload(file_obj) {
        if (file_obj !== undefined) {
            var form_data = new FormData();
            form_data.append('file', file_obj);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "upload.php", true);
            xhttp.onload = function (event) {


                xhttp.send(form_data);
            }
        }
    }
</script>
</body>
</html>