{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <p>
            Thibault Meekel
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum justo quis orci cursus, eu sollicitudin odio maximus. Maecenas sed interdum mauris. Sed vitae iaculis nulla, elementum accumsan odio. Pellentesque non nulla at ante placerat consequat. Ut vulputate neque leo, et placerat nulla ornare sed. Donec accumsan posuere luctus. Suspendisse molestie leo a tempus laoreet. Aliquam erat volutpat. Cras fringilla, leo et efficitur egestas, felis est egestas sapien, sit amet lacinia nibh metus ut leo. Proin quis luctus quam. Sed sed ipsum velit. Sed vel ante sit amet tellus bibendum egestas. Vestibulum dictum nibh vitae ultricies elementum.

            Vestibulum vel egestas tortor. Ut quis dolor vitae odio egestas placerat. Cras condimentum metus a erat auctor, pretium hendrerit ante posuere. Sed ultricies lorem at nisi pretium, vel pharetra enim ullamcorper. Cras efficitur lorem id pellentesque dictum. Quisque placerat ipsum non enim iaculis, vel placerat ipsum dapibus. Suspendisse placerat sollicitudin elit, congue bibendum nisl. Sed ut egestas elit, ut interdum diam. Nulla ut tincidunt justo. Phasellus in risus libero. Nam dictum commodo purus. Etiam tristique massa nisl, sit amet rhoncus tortor porta in. Vivamus tristique in justo sed lobortis.

            Nunc et sapien laoreet, lobortis est vel, dapibus ipsum. Nulla luctus metus vitae ultricies dignissim. Quisque auctor nisi sed massa posuere aliquet. Pellentesque imperdiet mauris eget eros blandit, sit amet condimentum odio sollicitudin. Sed dapibus a nisi vel suscipit. Integer quis nulla non urna luctus pharetra. Sed in arcu elit. Donec commodo felis ut lacus facilisis mollis. Sed at tempus orci. Nullam ut commodo dolor, eu porttitor diam. Vestibulum malesuada tellus vel pulvinar ultricies. Suspendisse tortor mi, hendrerit eu est vitae, elementum hendrerit ex. Cras rhoncus faucibus sem ac sodales.
            Thibault Meekel
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum justo quis orci cursus, eu sollicitudin odio maximus. Maecenas sed interdum mauris. Sed vitae iaculis nulla, elementum accumsan odio. Pellentesque non nulla at ante placerat consequat. Ut vulputate neque leo, et placerat nulla ornare sed. Donec accumsan posuere luctus. Suspendisse molestie leo a tempus laoreet. Aliquam erat volutpat. Cras fringilla, leo et efficitur egestas, felis est egestas sapien, sit amet lacinia nibh metus ut leo. Proin quis luctus quam. Sed sed ipsum velit. Sed vel ante sit amet tellus bibendum egestas. Vestibulum dictum nibh vitae ultricies elementum.

            Vestibulum vel egestas tortor. Ut quis dolor vitae odio egestas placerat. Cras condimentum metus a erat auctor, pretium hendrerit ante posuere. Sed ultricies lorem at nisi pretium, vel pharetra enim ullamcorper. Cras efficitur lorem id pellentesque dictum. Quisque placerat ipsum non enim iaculis, vel placerat ipsum dapibus. Suspendisse placerat sollicitudin elit, congue bibendum nisl. Sed ut egestas elit, ut interdum diam. Nulla ut tincidunt justo. Phasellus in risus libero. Nam dictum commodo purus. Etiam tristique massa nisl, sit amet rhoncus tortor porta in. Vivamus tristique in justo sed lobortis.

            Nunc et sapien laoreet, lobortis est vel, dapibus ipsum. Nulla luctus metus vitae ultricies dignissim. Quisque auctor nisi sed massa posuere aliquet. Pellentesque imperdiet mauris eget eros blandit, sit amet condimentum odio sollicitudin. Sed dapibus a nisi vel suscipit. Integer quis nulla non urna luctus pharetra. Sed in arcu elit. Donec commodo felis ut lacus facilisis mollis. Sed at tempus orci. Nullam ut commodo dolor, eu porttitor diam. Vestibulum malesuada tellus vel pulvinar ultricies. Suspendisse tortor mi, hendrerit eu est vitae, elementum hendrerit ex. Cras rhoncus faucibus sem ac sodales.
            Thibault Meekel
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum justo quis orci cursus, eu sollicitudin odio maximus. Maecenas sed interdum mauris. Sed vitae iaculis nulla, elementum accumsan odio. Pellentesque non nulla at ante placerat consequat. Ut vulputate neque leo, et placerat nulla ornare sed. Donec accumsan posuere luctus. Suspendisse molestie leo a tempus laoreet. Aliquam erat volutpat. Cras fringilla, leo et efficitur egestas, felis est egestas sapien, sit amet lacinia nibh metus ut leo. Proin quis luctus quam. Sed sed ipsum velit. Sed vel ante sit amet tellus bibendum egestas. Vestibulum dictum nibh vitae ultricies elementum.

            Vestibulum vel egestas tortor. Ut quis dolor vitae odio egestas placerat. Cras condimentum metus a erat auctor, pretium hendrerit ante posuere. Sed ultricies lorem at nisi pretium, vel pharetra enim ullamcorper. Cras efficitur lorem id pellentesque dictum. Quisque placerat ipsum non enim iaculis, vel placerat ipsum dapibus. Suspendisse placerat sollicitudin elit, congue bibendum nisl. Sed ut egestas elit, ut interdum diam. Nulla ut tincidunt justo. Phasellus in risus libero. Nam dictum commodo purus. Etiam tristique massa nisl, sit amet rhoncus tortor porta in. Vivamus tristique in justo sed lobortis.

            Nunc et sapien laoreet, lobortis est vel, dapibus ipsum. Nulla luctus metus vitae ultricies dignissim. Quisque auctor nisi sed massa posuere aliquet. Pellentesque imperdiet mauris eget eros blandit, sit amet condimentum odio sollicitudin. Sed dapibus a nisi vel suscipit. Integer quis nulla non urna luctus pharetra. Sed in arcu elit. Donec commodo felis ut lacus facilisis mollis. Sed at tempus orci. Nullam ut commodo dolor, eu porttitor diam. Vestibulum malesuada tellus vel pulvinar ultricies. Suspendisse tortor mi, hendrerit eu est vitae, elementum hendrerit ex. Cras rhoncus faucibus sem ac sodales.
        </p>
    </div>


{% endblock %}
