{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 align="center">Bienvenue sur CDOS Emploi !</h1>
        <br><br>
        <p align="center">Créé en 1981, le Comité Départemental Olympique et Sportif (CDOS) de la Vienne est une association régie par la loi de 1901. Il représente le Comité National Olympique et Sportif Français (CNOSF) au niveau départemental.
        </p>
        <p align="center"><b> Représenter et fédérer le mouvement sportif</b></p>
        <p align="center">Le CDOS de la Vienne est composé de membres actifs (comités départementaux), de membres associés (clubs isolés affiliés aux membres du CNOSF…) et de membres d’honneur.

            Il est administré par un Comité Directeur et son Bureau Directeur élus en Assemblée Générale tous les quatre ans. Ils orientent et contrôlent la politique générale du CDOS.

            Il compte également sur des salariés qui assurent les services et fonctionnement au quotidien de l’association. </p>
        <p align="center"><b>Comment fonctionne ce site ?</b></p>
        <p align="center">Le site répertorie les offres postées par toutes les associations partenaires. Vous avez la possibilité de postuler à ces nombreuses offres en vous créant un compte sur notre site. </p>
    </div>

<div class="container-fluid" style="background: linear-gradient(90deg, #007bff 25%, #0a1e47 75%);">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title fw-bold">Nombre d'offres</h5>
                            <br><br>
                            <span class="h1">{{ offer }} </span> offres
                            <br><br>
                        </div>
                        <p class="card-text" align="center">ont été déposées sur le site depuis sa création</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title fw-bold">Nombre de candidatures</h5>
                            <br><br>
                            <span class="h1">{{ candidature }}</span> candidatures
                            <br><br>
                        </div>
                        <p class="card-text" align="center">ont été envoyées par des candidats</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title fw-bold">Nombre de structures</h5>
                            <br><br>
                            <span class="h1">{{ user }}</span> structures
                            <br><br>
                        </div>
                        <p class="card-text" align="center">postent régulièrement des offres de tous types sur le site</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
