{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}

    <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="col-sm-4 createSegment">
                         <a class="btn dim_button create_new" href ="{{ path('app_createoffer') }}"> <span class="glyphicon glyphicon-plus"></span> Ajouter une nouvelle offre</a>
                        </div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <label for="email">Search:</label>
                                <input type="search" class="form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer ">
                            <thead>
                                <tr>
                                    <th style="min-width:150px;">Titre de l'offre</th>
                                    <th style="min-width:150px;">Nom de la structure</th>
                                    <th style="min-width:150px;">Description de l'offre</th>
                                    <th style="min-width:100px;">Type de contrat</th>
                                    <th style="min-width:100px;">Date de publication</th>
                                    <th style="min-width:150px;">Localisation</th>
                                    <th style="min-width:150px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td><b>Chargé de mission vie associative</b></td>
                                    <td>CDOS Vienne</td>
                                    <td>As d'activité : Industrie, Logistique, Transport, Bâtiment Travaux Public, Tertiaire</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>
                                        Adéquat t'accompagne dans ta recherche d'emploi (intérim, CDD, CDI) et te propose + de 5000 jobs dans tous les secteurs d'activité : Industrie, Logistique, Transport, Bâtiment Travaux Public, Tertiaire</td>
                                    <td><span class="mode mode_done">CDI</td>
                                    <td>17-Jan-2022</td>
                                    <td>Niort</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>

                                <tr>

                                    <td><b>Chargé de mission suivi stratégique</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td><b>ah</b></td>
                                    <td>Direction affaires générales</td>
                                    <td>Direction affaires générales</td>
                                    <td><span class="mode mode_process">CDD</td>
                                    <td>17-Jan-2022</td>
                                    <td>Poitiers</span></td>
                                    <td>
                                        <div class="btn-group edit">
                                            <abbr title="Modifier"><a href="#"><i class="bi bi-pencil-fill" href="#"></i></a></abbr>
                                        </div>

                                        <div class="btn-group delete">
                                            <abbr title="Supprimer"><a href="#"><i class="bi bi-trash-fill"></i></a></abbr>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
    <script>

        var dataTable = $('#filtertable').DataTable({
            "pageLength":5,
            "scrollY": 400,
            "scrollX": true,
            "scrollCollapse" :true,
            "paging": false,

            'aoColumnDefs':[{
                'bSortable':false,
                'aTargets':['nosort'],

            }],
            columnDefs:[
                {type:'date-dd-mm-yyyy',aTargets:[5]}
            ],
            "aoolumns":[
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "order":false,
            "bLengthChange":false,
            "dom":'<"top">ct<"top"p><"clear">'


        });

        $("#filterbox" ).on('keyup change', function () {
            dataTable.search(this.value).draw();
        });

    </script>




{% endblock %}