{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <style>

        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <form>
        <div class="col-sm-4 col-xs-12">
            <div class="form-group">
                <h1>Mot de passe oublié</h1>
                <div class="inputs">
                    <input type="email" placeholder="Adresse email" />
                </div>
                <div align="center">
                    <button type="submit">Générer un nouveau mot de passe</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
