/**
BODY
 */

body {
    background-color: white;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

/**
NAVBAR
 */

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
    position: relative;

}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-color: #ee334e;
}

.navbar-toggler {
    background: #DDDDDD;
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #FFFFFF;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}


/**
FORMULAIRE
 */

form {
    margin-top: 100px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    background-repeat: no-repeat;
}
form .form-group{
    text-align: center;
    position: relative;
    top:50%;
    left: 100%;
}
form h1{
    color: #0a1e47;
    text-align:center;
    margin-bottom: 25px;
}

form .inputs {
    display: flex;
    flex-direction: column;
}
form .inputs input[type='email'], input[type='password'], input[type='text'], input[type='file']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 25px;

}
form .inputs input[type='text']{
    padding: 15px;
}

form .inputs .formCandidat{
    display : flex;
    flex-direction: column;

}
form .inputs .formAdminS{
    display : flex;
    flex-direction : column;
}

form .inputs .formSAdmin{
    display : flex;
    flex-direction : column;
}

form .inputs select{
    padding: 15px;
    margin-bottom: 25px;
}
form .create{
    font-size: 14px;
    margin-bottom: 20px;
    color: #ee334e;
    margin-top: 20px;
}

form .mdp {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ee334e;
    padding-left: 50px;
}

form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #0a1e47;
    outline:none;
    cursor:pointer;
    margin-bottom: 200px;
    margin-top: 30px;
}

form .inputs .formAdminS{
    display: none;
}

form .inputs .formSAdmin{
    display: none;
}



.form-control-file {
    position: relative;
    width: 100%;
    height: 200%;
    min-height: 30em;
    outline: none;
    cursor: pointer;
    background-color: #c61c23;

}


/**
DATATABLE
 */

.p-30{
    padding: 30px 0px;

}
.main-datatable {
    padding: 0px;
    border: 1px solid #f3f2f2;
    border-bottom: 0;
    box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_body{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.main-datatable .row {
    margin: 0;
}
.searchInput {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    margin: 20px 0px;
    padding: 0px 4px;
}
.searchInput input {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-left: 8px;
    height: 34px;
    width: 100%;
    padding: 0px 25px 0px 10px;
    transition: all .6s ease;
}
.searchInput label {
    color: #767676;
    font-weight: normal;
}
.searchInput input:placeholder-shown {
    width: 13%;
}
.searchInput:hover input:placeholder-shown {
    width: 100%;
    cursor: pointer;
}
.searchInput:after {
    font-family: 'FontAwesome';
    color: #d4d4d4;
    position: relative;
    content: "\f002";
    right: 25px;
}

.dim_button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    background: rgb(57, 85, 136);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px;
}
.createSegment a {
    margin-bottom: 0px;
    border-radius: 50px;
    background: #ffffff;
    border: 1px solid #0a1e47;
    color: #0a1e47;
    transition: all .4s ease;
}
.createSegment a:hover, .createSegment a:focus {
    transition: all .4s ease;
    background: #0a1e47;
    color: #fff;
}
.add_flex{
    display: flex;
    justify-content: flex-end;
    padding-right:0px;
}
.main-datatable .dataTable.no-footer {
    border-bottom: 1px solid #eee;
}
.main-datatable .cust-datatable thead {
    background-color: #f9f9f9;
}
.main-datatable .cust-datatable>thead>tr>th {
    border-bottom-width: 0;
    color: #443f3f;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}
.main-datatable .cust-datatable>tbody td {
    padding: 10px 15px 10px 18px;
    color: #333232;
    font-size: 13px;
    font-weight: 500;
    word-break: break-word;
    border-color: #eee;
    text-align: center;
    vertical-align: middle;
}
.main-datatable .cust-datatable>tbody tr {
    border-top: none;
}
.main-datatable .table > tbody > tr:nth-child(even) {
    background: #f9f9f9;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.main-datatable .dropdown_icon {
    display: inline-block;
    color: #8a8a8a;
    font-size: 12px;
    border: 1px solid #d4d4d4;
    padding: 10px 11px;
    border-radius: 50%;
    cursor: pointer;
}
.btn-group i{
    color: #8e8e8e;
    margin: 2px;
}
.main-datatable .actionCust a {
    display: inline-block;
    color: #8a8a8a;
    font-size: 12px;
    border: 1px solid #d4d4d4;
    padding: 10px 11px;
    margin: -9px 3px;
    border-radius: 50%;
    cursor: pointer;
}
.main-datatable .actionCust a i{
    color: #8e8e8e;
    margin: 2px;
}
.main-datatable .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #c8c8c8;
    margin-top: 10px;
    left: -65px;
    top: 32px;
}
.main-datatable .dropdown-menu > li > a {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
    border-bottom: 1px solid #d4d4d4;
}
.main-datatable .dropdown-menu > li > a:hover,
.main-datatable .dropdown-menu > li > a:focus {
    color: #fff;
    background: #007bff;
}
.main-datatable .dropdown-menu > li > a:hover i{
    color: #fff;
}
.main-datatable .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 78px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #d4d4d4;
    border-left: 7px solid transparent;
    border-bottom-color: #d4d4d4;
    content: '';
}
.main-datatable .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 78px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-menu i {
    margin-right: 8px;
}
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #999999 !important;
    background-color: #f6f6f6 !important;
    border-color: #d4d4d4 !important;
    border-radius: 40px;
    margin: 5px 3px;
}
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: 1px solid #3d96f5 !important;
    background-color: #4da3ff !important;
    box-shadow: none;
}
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.main-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border-color: transparent !important;
    background: #007bff !important;
}
.main-datatable .dataTables_paginate {
    padding-top: 0 !important;
    margin: 15px 10px;
    float: right !important;
}
.mode{
    padding:4px 10px;
    line-height: 13px;
    color:#fff;
    font-weight: 400;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size:11px;
    letter-spacing: 0.4px;
}
.mode_on{
    background-color: #09922d;
}
.mode_off{
    background-color: #8b9096;
}
.mode_process{
    background-color: #ff8000;
}
.mode_done{
    background-color: #03a9f3;
}
.btn-group {
    font-size:20px;
}

@media only screen and (max-width:1200px) {
    .overflow-x {
        overflow-x: scroll;
    }

    .overflow-x::-webkit-scrollbar {
        width: 5px;
        height: 6px;
    }

    .overflow-x::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    .overflow-x::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

}