body{
    font-family: "Arial" ,sans-serif;
}

.dropzone{
    width: 100%;
    height:300px;
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
    line-height: 300px;
    margin: 20px auto;

}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}